$content-padding: 16px;
$main-header-height: 80px;
$menu-height: 740px;
$padding-zero: 0px;

.full-screen{
  width: 100%;
  height: 100vh;
  display: flex;
}

.flex-st-ct{
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-ct-ct{
  display: flex;
  justify-content: center;
  align-items: center;
}
